html,
body,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

body {
  background: #121212;
  color: white;
  padding: 24px calc(50% - 550px);
}

body.admin {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

#title {
  font-size: 24px;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 8px;
}

main {
  display: flex;
  flex-direction: column;
}

.admin main {
  height: 100%;
}

img {
  /* width: 100%; */
  max-height: 400px;
  object-fit: contain;
}

textarea {
  background: inherit;
  color: inherit;
}

button {
  background: inherit;
  color: inherit;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid white;
}

button .link {
  border: none;
}

.poems {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.poem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: end;
}

.poem-date {
  font-size: 12px;
  color: #aaa;
}

#dashboard-post {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 16px;
  padding-top: 24px;
}

#dashboard-post .list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  width: 30%;
  padding-right: 4px;
  border-right: 1px solid #aaa;
}

#dashboard-post .controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: end;
}

#dashboard-post .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 8px;
}

#dashboard-post .title-input {
  background: inherit;
  color: inherit;
  width: 100%
}

#dashboard-post .description-input {
  background: inherit;
  color: inherit;
  width: 100%;
}

#dashboard-post .content-input {
  width: 100%;
  height: 100%;
}

#dashboard-poem {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  gap: 16px;
}

#dashboard-poem .new {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  gap: 8px;
}

#dashboard-poem .input {
  width: 100%;
  height: 150px;
}

#dashboard-poem .list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

#dashboard-poem .controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: end;
}
